@import "https://meyerweb.com/eric/tools/css/reset/reset.css";
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* BreakPoint */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: -moz-linear-gradient(180deg, #2f3e46 25%, #52796f 75%);
  background: -webkit-linear-gradient(180deg, #2f3e46 25%, #52796f 75%);
  background: linear-gradient(180deg, #2f3e46 25%, #52796f 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3e46", endColorstr="#52796f", GradientType=1);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: #CAD2C5;
  align-items: center;
  padding-top: 2rem;
  font-weight: normal;
}

.site__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}

.header__title {
  font-size: 46px;
  text-transform: uppercase;
  text-shadow: 0 0.6rem 0.7rem #b1c49d, 0 -0.1rem 0.1rem #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 50%;
  margin: 2.5rem 0 0;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}

.add-city--form {
  display: flex;
  flex-direction: column;
  height: 13rem;
  justify-content: space-around;
  align-items: center;
}

#city-name {
  border: none;
  outline: none;
  height: 4rem;
  width: 80%;
  font-family: inherit;
  margin-bottom: 1rem;
  background-color: transparent;
  border-bottom: 0.4rem solid #CAD2C5;
  color: #CAD2C5;
  font-size: 30px;
  padding: 0;
}
#city-name::placeholder {
  font-size: 24px;
  color: #96a58c;
  text-align: center;
}
#city-name:focus {
  border-bottom: 0.3rem dashed;
}

#btn-add-city {
  border: none;
  outline: none;
  width: 50%;
  max-width: 20rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  background-color: #52796F;
  color: #b1c8b6;
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0;
}
#btn-add-city:active {
  background-color: #293c37;
}

.site__cards {
  width: 90vw;
  height: calc(60vh - 2rem);
  min-height: 40rem;
  display: flex;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: #c0d3c4;
  background: linear-gradient(180deg, #c0d3c4 25%, rgba(192, 211, 196, 0.35) 75%);
  min-width: 25rem;
  margin: 0 2rem 2rem 0;
  margin-right: 2rem;
  justify-content: space-between;
  text-align: center;
  padding: 3rem;
  color: #2F3E46;
  border: 1px solid #2F3E46;
  border-radius: 1.5rem;
}

.city {
  font-size: 30px;
  width: 100%;
}

.country {
  font-size: 18px;
  background-color: #354F52;
  color: #CAD2C5;
  padding: 0.6rem;
  border-radius: 100%;
  vertical-align: middle;
}

.temp {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}
.temp p {
  font-size: 80px;
  font-weight: bold;
}
.temp p sup {
  font-size: 36px;
  font-weight: normal;
  vertical-align: middle;
}
.temp p:last-child {
  font-size: 24px;
  font-weight: bold;
  font-text-align: center;
}
.temp img {
  object-fit: contain;
}

.error {
  color: red;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  body {
    justify-content: center;
  }

  .site__header {
    margin-bottom: 1rem;
  }

  .header__title {
    font-size: 70px;
    letter-spacing: 1rem;
    margin-top: 0;
  }

  .add-city--form {
    height: auto;
  }

  .site__cards {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site__cards::-webkit-scrollbar {
    height: 1rem;
    background-color: #CAD2C5;
    border-radius: 1rem;
  }
  .site__cards::-webkit-scrollbar-thumb {
    background-color: #354F52;
    border-radius: 1rem;
  }

  .card {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    min-width: 30rem;
  }
}

/*# sourceMappingURL=style.css.map */
