@import "https://meyerweb.com/eric/tools/css/reset/reset.css";
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

@import "utilities/variables";
@import "utilities/mixins";

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include background-gradient;
  @include flexColumn;
  font-family: $font-family;
  min-height: 100vh;
  color: $color-ash-gray;
  align-items: center;
  padding-top: 2rem;
  font-weight: normal;
}

.site__header {
  @include flexColumn;
  width: 100%;
  margin-bottom: 3rem;
}

.header__title {
  font-size: $font-size-lg;
  text: {
    transform: uppercase;
    shadow: 0 0.6rem 0.7rem #b1c49d, 0 -0.1rem 0.1rem #fff;
  }
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 50%;
  margin: 2.5rem 0 0;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}

.add-city--form {
  @include flexColumn;
  height: 13rem;
  justify-content: space-around;
  align-items: center;
}

#city-name {
  @include borderAndOutline;
  height: 4rem;
  width: 80%;
  font-family: inherit;
  margin-bottom: 1rem;
  background-color: transparent;
  border-bottom: 0.4rem solid $color-ash-gray;
  color: $color-ash-gray;
  font-size: $font-size-md;
  padding: 0;
  &::placeholder {
    font-size: $font-size-sm;
    color: darken($color-ash-gray, 20%);
    text-align: center;
  }
  &:focus {
    border-bottom: 0.3rem dashed;
  }
}

#btn-add-city {
  @include borderAndOutline;
  width: 50%;
  max-width: 20rem;
  height: 4rem;
  margin-bottom: 1rem;
  font: {
    family: inherit;
    weight: bold;
    size: $font-size-xs;
  }
  background-color: $color-hookers-green;
  color: lighten($color-dark-sea-green, 15%);
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0;
  &:active {
    background-color: darken($color: $color-hookers-green, $amount: 20%);
  }
}

.site__cards {
  width: 90vw;
  height: calc(60vh - 2rem);
  min-height: 40rem;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.card {
  @include flexColumn;
  @include cardGradient;
  min-width: 25rem;
  margin: 0 2rem 2rem 0;
  margin-right: 2rem;
  justify-content: space-between;
  text-align: center;
  padding: 3rem;
  color: $color-charcoal;
  border: 1px solid $color-charcoal;
  border-radius: 1.5rem;
}

.city {
  font-size: $font-size-md;
  width: 100%;
}
.country {
  font-size: $font-size-xs;
  background-color: $color-dark-slate-gray;
  color: $color-ash-gray;
  padding: 0.3rem;
  border-radius: 1rem;
  vertical-align: middle;
}

.temp {
  @include flexColumn;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  & p {
    font: {
      size: $font-size-xl;
      weight: bold;
    }
    & sup {
      font: {
        size: $font-size-lg - 10px;
        weight: normal;
      }
      vertical-align: middle;
    }
  }
  p:last-child {
    font: {
      size: $font-size-xs;
      weight: normal;
      text-align: center;
    }
  }
  & img {
    object-fit: contain;
  }
}

.error {
  color: red;
  font-size: $font-size-sm;
}

@import 'utilities/responsive';