@mixin background-gradient {
  background: -moz-linear-gradient(180deg,
      rgba(47, 62, 70, 1) 25%,
      rgba(82, 121, 111, 1) 75%);
  background: -webkit-linear-gradient(180deg,
      rgba(47, 62, 70, 1) 25%,
      rgba(82, 121, 111, 1) 75%);
  background: linear-gradient(180deg,
      rgba(47, 62, 70, 1) 25%,
      rgba(82, 121, 111, 1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3e46", endColorstr="#52796f", GradientType=1);
}

@mixin borderAndOutline {
    border: none;
    outline: none;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin cardGradient {
    background: rgb(192,211,196);
background: linear-gradient(180deg, rgba(192,211,196,1) 25%, rgba(192,211,196,0.35) 75%);
}