@media only screen and (min-width: $breakpoint-tablet) {
  body {
    justify-content: center;
  }
  .site__header {
    margin-bottom: 1rem;
  }

  .header__title {
    font-size: $font-size-xl - 10px;
    letter-spacing: 1rem;
    margin-top: 0;
  }

  .add-city--form {
    height: auto;
  }

  .site__cards {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
    &::-webkit-scrollbar {
        height: 1rem;
        background-color: $color-ash-gray;
        border-radius: 1rem;
        &-thumb {
            background-color: $color-dark-slate-gray;
            border-radius: 1rem;
        }
    }
  }
  .card {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    min-width: 30rem;
  }
}
